.container {
    display: flex;
    height: 80vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Work Sans", 'sans-serif';
    font-size: 14px;
    position: relative;
}

.registerBtn {
    margin-top: 10px;
    width: 360px;
}

.info {
    margin: 15px;
}

.link {
    color: #1F2937;
}

.error {
    color: rgb(177,76,76);
    height: 16px;
}
