.icon {
    margin: 0 10px;
    transition: all 500ms ease;
    border-radius: 50%;
    cursor: pointer;
}

.icon:hover {
    transform: rotate(45deg) scale(1.2);
}

.audio {
    width: 620px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
}

.duration {
    width: 40px;
    display: flex;
    justify-content: flex-end;
    margin: 0 10px;
    font-family: 'Roboto',  sans-serif;
}

.trashIcon {
    margin: 0 10px;
    cursor: pointer;
}

.trashIcon:hover {
    transform: scale(1.2);
}

.preloader {
    width: 500px;
}

input[type=range] {
    width: 80px;
    -webkit-appearance: none;
    background-color: #ccc;
    height: 4px;
    border-radius: 2px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    box-shadow: 0 0 3px 0 #555;
    transition: background .3s ease-in-out;
}


@media (max-width: 767px) {
    .audio {
        width: auto;
    }
    .preloader {
        width: auto;
    }
}
