.container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Work Sans", 'sans-serif';
    font-size: 14px;
}

.registerBtn {
    margin-top: 14px;
    width: 360px;
}

.info {
    margin: 15px;
}

.link {
    color: #1F2937;
}
