html, body, .App {
  height: 100%;
  margin: 0 80px;
}

.App {
  justify-content: center;
  align-items: center;
}

#root, .container {
  height: 100%;
}

@media (max-width: 767px) {
  html, body, .App {
    margin: 0;
  }
}
